<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="UserData" type="ZebraBellaComponentsUtility.ConfigurationSections.UserData.UserData, ZebraBellaComponentsUtility" requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <UserData>
        <AlternativeFileTree>
            <DirectoryJunctions>
                <Add 
                    Name="model" 
                    RepositoryRelativePath="./src/Domain/common/model/" 
                />
                <Add 
                    Name="logic" 
                    RepositoryRelativePath="./src/Domain/components/{0}/{0}Src/" 
                />
                    
            </DirectoryJunctions>
        </AlternativeFileTree>
        <ApplicationRelativePaths
            RepositoryRoot="../../../"
        />
        <ComponentRelativePaths
            ExecutableDirectory="./bella/"
            ExecutableFile="belladomain.exe"
            StorageDirectory="./bella/storage/"
            LogsDirectory="./bella/logs/"
        />
        <Miscellaneous
            BellaCloseDelay="1500"
        />
        <RepositoryRelativePaths
            ComponentsFolder="./src/Domain/components/"
            AlternativeFileTreeFolder="./src/DomainAlternativeFileTree/"
        />
    </UserData>
</configuration>