<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZebraBellaComponentsUtility.Settings.MiscellaneousSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ZebraBellaComponentsUtility.Settings.ApplicationRelativePathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ZebraBellaComponentsUtility.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ZebraBellaComponentsUtility.Settings.MiscellaneousSettings>
            <setting name="BellaCloseDelay" serializeAs="String">
                <value>1500</value>
            </setting>
        </ZebraBellaComponentsUtility.Settings.MiscellaneousSettings>
        <ZebraBellaComponentsUtility.Settings.ApplicationRelativePathSettings>
            <setting name="RepositoryRoot" serializeAs="String">
                <value>../../../</value>
            </setting>
        </ZebraBellaComponentsUtility.Settings.ApplicationRelativePathSettings>
        <ZebraBellaComponentsUtility.Settings>
            <setting name="ComponentsFolderRelativePath" serializeAs="String">
                <value>../components</value>
            </setting>
            <setting name="ExecutableDirectoryRelativePath" serializeAs="String">
                <value>bella</value>
            </setting>
            <setting name="ExecutableFileName" serializeAs="String">
                <value>belladomain.exe</value>
            </setting>
            <setting name="StorageDirectoryRelativePath" serializeAs="String">
                <value>bella/storage</value>
            </setting>
            <setting name="LogsDirectoryRelativePath" serializeAs="String">
                <value>bella/logs</value>
            </setting>
            <setting name="ComponentProcessName" serializeAs="String">
                <value>BellaDomain</value>
            </setting>
            <setting name="BellaCloseDelay" serializeAs="String">
                <value>1500</value>
            </setting>
        </ZebraBellaComponentsUtility.Settings>
    </applicationSettings>
</configuration>